.container {
    margin-left: 250px;
    padding: 20px;
  }
  
  .title {
    position: fixed;
    top: 0;
    padding: 12px 0px 0px 110px;
    font-size: 30px;
    font-weight: bold;
    color: #2b6cb0;
    margin-bottom: 15px;
  }
  
  .buttonContainer {
    display: flex;
    gap: 10px;
  }
  
  .button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background: #2b6cb0;
    color: white;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .button:hover {
    background: #1e4e8c;
  }
  